<h4>Add a new pairing offering</h4>

<%= render '/shared/error_messages' %>

<%= form_for @pairing, url: user_pairings_path(current_user.id) do |f| %>
  <p>
    <%= f.label :start_time %><br>
    <%= f.datetime_field :start_time %>
  </p>

  <p>
    <%= f.submit "Create a Pairing", class: "waves-effect waves-light btn" %>
  </p>
<% end %>
