<li id="pairing-<%= offered_pairing.id %>">
  <div class="card horizontal">
    <div class="card-image">
      <% @user = User.find(offered_pairing.mentor_id) %>
      <img src="<%= @user.url %>" alt="avatar" class="avatar-image">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <span><h6><strong>Starts at:</strong> <%= offered_pairing.start_time %></h6></span> <br>
        <span><h6><strong>With:</strong> <%= @user.name %></h6></span>
      </div>
      <div class="card-action">
        <% if authorized?(offered_pairing.mentor_id) %>
          <%= link_to "Reschedule", edit_user_pairing_path(current_user.id, offered_pairing.id) %>
        <% end %>
        <% if logged_in? && (offered_pairing.mentor_id != current_user.id) %>
          <%= link_to "Sign Up!", edit_user_pairing_path(offered_pairing.mentor_id, offered_pairing.id) %>
        <% end %>
      </div>
    </div>
  </div>
</li>
