<h1>Edit this Pairing</h1>

<%= render '/shared/error_messages' %>

<%= form_for :pairing, url: user_pairing_path(@pairing), method: :patch do |f| %>
  <p>
    <%= f.label :start_time %><br>
    <%= f.text_field :start_time %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
