<div class="row">
  <div class="col s10 m10 push-s2">
    <div class="card horizontal container">
      <div class="card-image">
        <% @user = User.find(@pairing.mentor_id) %>
        <img src="<%= @user.url %>" alt="avatar" class="avatar-image">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span><H5><strong>Date:</strong> <%= @pairing.start_time.strftime('%A, %b %d, %Y') %></H5></span><br>
          <span><h5><strong>Time:</strong> <%= @pairing.start_time.strftime('%I:%M %p') %></h5></span><br>
          <span><h5><strong>With:</strong> <%= @user.name %></h5></span>
        </div>
        <div class="card-action">
          <% if authorized?(@pairing.mentor_id) %>
            <%= link_to "Reschedule", edit_user_pairing_path(current_user.id, @pairing.id) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
