<!DOCTYPE html>
<html>
  <head>
    <title>Mentory</title>
    <%= csrf_meta_tags %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
      <%= link_to "Mentory", root_path, class: "brand-logo" %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if logged_in? %>
            <li><%= link_to "#{current_user.name}\'s page", user_path(current_user.id), method: :get %></li>
            <li><%= link_to 'Log out', session_path(session[:user_id]), method: :delete %></li>
          <% else %>
            <li><%= link_to 'Log in', new_session_path %></li>
            <li><%= link_to 'Register', new_user_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
